@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  max-width: 1280px;
  min-width: 360px;
  overflow: auto;
  margin: 0 auto;
  height: 100vh;
  background: #242424;
}

@layer base {}
@layer components {
  .modal {
    @apply absolute top-0 left-0 w-full h-full
    grid place-content-center z-50;
  }
  .modal_content{
    @apply text-dark px-25 py-15;
  }
  .calendar{
    @apply rounded-[5px]
    text-primary_white bg-primary_blue px-25 py-20;
  }
  .calendar_card{
    @apply my-20 font-medium border border-primary_green
    px-12 py-8 text-primary_green;
  }
  .badge {
    border-radius: 50%;
  }
  .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @apply flex justify-center items-center
    text-primary_green font-bold bg-primary_blue;
  }
  .tooltip{
    @apply relative inline-block border-b 
    border-b-primary_white border-dotted;
  }
  .tooltip .tooltip_text {
    @apply invisible bg-black text-primary_white
    text-center px-12 py-8 rounded-[5px];
  }
  .tooltip:hover .tooltip_text {
    @apply visible;
  }
  .tooltip_topleft{
    @apply absolute w-max
    top-[-185%] left-[-90%];
  }
  .tooltip_topleft::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    right: calc(5px);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip_topcenter{
    @apply absolute w-max
    top-[-185%] left-[0%];
  }
  .tooltip_topcenter::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: calc(50%);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip_topright{
    @apply absolute w-max
    top-[-185%] left-[85%];
  }
  .tooltip_topright::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: calc(10px);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip_middleleft{
    @apply absolute w-max;
    top: calc(-25% - 4px);
    right: calc(100% + 10px);
  }
  .tooltip_middleleft::after {
    content: " ";
    position: absolute;
    top: calc(50% - 3px); 
    left: calc(100% + 5px);
    rotate: -90deg;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip_middleright{
    @apply absolute w-max;
    top: calc(-25% - 4px);
    left: calc(100% + 10px);
  }
  .tooltip_middleright::after {
    content: " ";
    position: absolute;
    top: calc(50% - 3px); 
    right: calc(100% );
    rotate: 90deg;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip_bottomleft{
    @apply absolute w-max
    bottom-[-185%] left-[-90%];
  }
  .tooltip_bottomleft::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    right: calc(5px);
    rotate: 180deg;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip_bottomcenter{
    @apply absolute w-max
    bottom-[-185%] left-[0%];
  }
  .tooltip_bottomcenter::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: calc(50%);
    rotate: 180deg;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip_bottomright{
    @apply absolute w-max
    bottom-[-185%] left-[85%];
  }
  .tooltip_bottomright::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: calc(10px);
    rotate: 180deg;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .button {
    @apply px-[16px] py-[10px] font-medium;
  }
  .btn_primary{
    @apply border border-primary_green
    text-primary_green bg-primary_blue
    hover:text-primary_white hover:border-primary_white;
  }
  .btn_outline{
    @apply text-primary_green border 
    border-primary_green 
    hover:text-primary_white hover:border-primary_white;
  }
  .btn_text{
    @apply text-primary_green 
    hover:text-primary_white;
  }
  .btn_error{
    @apply border border-fail
    bg-fail text-primary_white hover:text-primary_light_green;
  }
  .btn_disabled{
    @apply border border-primary_green/[0.75]
    text-primary_green/[0.75] bg-primary_blue/[0.75];
  }
  .btn_loading{
    @apply border border-primary_green
    text-primary_white bg-primary_blue;
    background: linear-gradient(50deg, 
    #05386B,#379683,#5CDB95, #379683, #05386B);
    animation: movingBackground 4s ease infinite;
    background-size: 400%;
  }
  
  @keyframes movingBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    0% {
        background-position: 0% 50%;
    }
  }
  .alert{
    @apply px-15 py-10 rounded
    flex justify-center gap-5;
  }
  .alert_info {
    @apply border border-primary_green
    bg-primary_blue text-primary_green font-medium;
  }
  .alert_success {
    @apply border border-primary_white
    bg-primary_dark_green text-primary_white font-medium;
  }
  .alert_warning {
    @apply border border-primary_white
    bg-fail text-primary_white font-medium;
  }
  .alert_loading {
    @apply border border-dark
    bg-primary_white text-dark font-medium;
  }
}
@layer utilities {
  .margin_transition {
    transition: margin 0.3s ease-in-out;
  }
  .page_container{
    @apply h-full px-45 py-30;
  }
  .component_container{
    @apply pr-25 py-10
    grid place-content-center;
  }
  .rotate_inf{
    animation: rotate 4s linear infinite;
  }
  @keyframes rotate {
    from{
      transform: rotate(0deg);
    } 
    to {
      transform: rotate(360deg);
    }

  }
}

